// Add your own CSS here!

:root {
  --light: #eee8d5;
  --dark: #073642;
  --secondary: #268bd2;
  --tertiary: #6c71c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #073642;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
  --claim: #859900 !important;
  --question: #2aa198 !important;
  --idea: #d33682 !important;
  --resource: #dc322f !important;
  --person: #cb4b16 !important;
  --root-title: var(--gray) !important;
  --external: #6c71c4 !important;
}

[saved-theme="dark"] {
  --light: #22212c !important;
  --dark: #f8f8f2 !important;
  --secondary: #9580ff !important;
  --visited: #4a575e !important;
  --tertiary: #ff80bf !important;
  --primary: #9580ff !important;
  --gray: #f8f8f2 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
  --claim: #8aff80 !important;
  --question: #80ffea !important;
  --idea: #ffca80 !important;
  --resource: #ff9580 !important;
  --person: #ff9580 !important;
  --root-title: var(--gray) !important;
  --external: #ff80bf !important;
}
