<h3>Backlinks</h3>
<ul class="backlinks">
    {{$url := urls.Parse .Site.BaseURL }}
    {{$host := strings.TrimRight "/" $url.Path }}
    {{$curPage := strings.TrimPrefix $host (strings.TrimRight "/" .Page.RelPermalink)}}
    {{$linkIndex := getJSON "/assets/indices/linkIndex.json"}}
    {{$inbound := index $linkIndex.index.backlinks $curPage}}
    {{$contentTable := getJSON "/assets/indices/contentIndex.json"}}
    {{if $inbound}}
    {{$backlinks := dict "SENTINEL" "SENTINEL"}}
    {{range $k, $v := $inbound}}
      {{$cleanedInbound := replace $v.source " " "-"}}
      {{$ctx := $v.text}}
      {{$backlinks = merge $backlinks (dict $cleanedInbound $ctx)}}
    {{end}}
    {{- range $lnk, $ctx := $backlinks -}}
      {{$l := printf "%s%s/" $host $lnk}}
      {{$l = cond (eq $l "//") "/" $l}}
      {{with (index $contentTable $lnk)}}
      {{$untrimmedTitle := index . "title"}}
      {{$isQuestion := hasPrefix $untrimmedTitle "Q-"}}
      {{if $isQuestion}}
        {{$untrimmedTitle = printf "%s?" $untrimmedTitle}}
      {{end}}
      {{$trimmedTitle := replaceRE "^[A-Z]- " "" $untrimmedTitle}}
      {{$tag := index . "tags"}}
      {{$tag := index $tag 0}}
      {{$tagOutput := ""}}
      {{with $tag}}
        {{$tagOutput = printf "#%s" .}}
      {{end}}
      <li>
        <a href="{{$l}}" data-ctx="{{$ctx}}" data-src="{{$lnk}}" class="internal-link">{{$trimmedTitle}}</a>
        <p class="linkTag" data-tag="{{$tagOutput}}">{{$tagOutput}}</p>
      </li>
      {{end}}
    {{- end -}}
    {{else}}
    <li>
        No backlinks found
    </li>
    {{end}}
</ul>